/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    transform: translate(-100%);
} */

.sidebar {
    top: 60px; /* Start the sidebar below the navbar */
    left: 0;
    width: 250px;
    height: calc(100% - 60px); /* Adjust height considering the navbar */
    background: #2c3e50;
    color: #ecf0f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
}

.show-sidebar {
    transform: translate(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #34495e; /* Darker shade for header */
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: #ecf0f1;
    cursor: pointer;
    margin-top: 0.2rem;
}

.logo {
    height: 40px;
}

.links {
    display: flex;
    flex-direction: column; /* Display social icons in a column */
    padding: 0 1.5rem;
    margin-top: 1rem;
}

.links a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 1rem 0; /* Add vertical padding */
    color: #ecf0f1;
    transition: var(--transition);
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem; /* Space between links */
}

.links a:hover {
    background: #34495e; /* Background on hover */
    color: #ffffff; /* Text color on hover */
    border-radius: 5px; /* Optional: Add rounded corners */
    padding-left: 1rem; /* Optional: Add padding on hover */
}

.social-icons {
    display: flex;
    flex-direction: column; /* Display social icons in a column */
    align-items: flex-start;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.social-icons a {
    font-size: 1.5rem;
    margin-bottom: 1rem; /* Space between social icons */
    color: #ecf0f1;
    transition: var(--transition);
}

.social-icons a:hover {
    color: #1abc9c;
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 300px;
    }
}
