/* body {
    background-color: #26282c; /* Колір фону сторінки
} */
/* .game-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
} */

.player-list {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}
