.board-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: relative;
}
.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.top-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-column,
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    gap: 0;
    padding: 0;
    margin: 0;
}
.right-column {
    right: -138px;
    top: 0; /* Додано для позиціонування */
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 80px;
    height: 150px;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-size: contain; /* Make sure the image is fully contained */
    background-position: center;
    background-repeat: no-repeat;
}

.tile.right-column-tile {
    width: 140px;
    height: 70px;
    position: relative;
}

.tile-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 150px; */
    margin: 0;
    padding: 0;
    flex-shrink: 0; /* Додаємо для запобігання стисканню */
}

.tile-price {
    position: absolute;
    top: -25px; /* Відстань над полем */
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #000;
    white-space: nowrap;
}

.tile-price-r {
    position: absolute;
    right: -100px; /* Розташування праворуч */
    left: auto; /* Відміна лівого вирівнювання */
    /* transform: translateY(0%); */
    top: 30%; /* Розташування по центру вертикально */
    transform: translateX(-50%);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #000;
    white-space: nowrap;
}

.tile-price-r.property {
    background-color: lightgreen;
}

.tile-price-r.cars {
    background-color: lightgoldenrodyellow;
}

.tile-price-r.clothing {
    background-color: lightpink;
}

.tile-price-r.utility {
    background-color: lightblue;
}

.tile-price-r.drinks {
    background-color: lightcoral;
}

.tile-price.property {
    background-color: lightgreen;
}

.tile-price.cars {
    background-color: lightgoldenrodyellow;
}

.tile-price.clothing {
    background-color: lightpink;
}

.tile-price.utility {
    background-color: lightblue;
}

.tile-price.drinks {
    background-color: lightcoral;
}

.tile.corner {
    background-color: yellow;
    width: 140px;
    height: 140px;
}

.tile.corner.go {
    width: 140px;
    height: 150px;
}
.tile.corner.go {
    background-size: cover; /* Зображення повинно покривати всю область */
}

.tile-price.fastfood,
.tile-price.games,
.tile-price.aircompany {
    background-color: lightgoldenrodyellow;
}

.tile.corner.go-to-jail,
.tile.corner.casino {
    width: 140px;
    height: 150px;
}

.tile-image {
    width: 100%; /* Зменшення розміру зображення */
    height: 100%; /* Зменшення розміру зображення */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.tile-image.rotate {
    transform: rotate(90deg);
}

.tile-image.rotate-270 {
    transform: rotate(270deg);
}

.tile.property,
.tile.chance,
.tile.utility,
.tile.cars,
.tile.clothing,
.tile.fastfood,
.tile.aircompany,
.tile.games {
    background-color: white;
}

.rotate-270 {
    transform: rotate(90deg);
}
